<div class="container-fluid">
    <div class="card col-sm-4 mx-auto align-middle mt-3">
        <div class="card-body">
            <form [formGroup]="form">
                <div class="form-group">
                    <label for="user">Numero de Control</label>
                    <input type="number" class="form-control" id="user" placeholder="17011200"
                           formControlName="user">
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control" id="password" placeholder="Password"
                           formControlName="password">
                </div>
                <div class="justify-content-end">
                    <button class="btn btn-primary" (click)="login('professor')"
                            [disabled]="form.controls.user?.errors || form.controls?.password.errors">
                        Iniciar sesión
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
