h1 {
	color:  red;
	text-align: right;	
}

/*TABLE SCHEDULE*/

.headerMain {
	text-align: center;
	font-size: 14px;	
}

.subjects {	
	text-align: center;
	vertical-align: middle;
}

/*Button print*/

.btns{
	background-color: red;
	font-size: 14px;	
}