<!--https://gist.github.com/donnierayjones/6fd9802d992b2d8d6cfd-->

<div id="Container" class="Container-Schedule">

  <!--Titulo de la vista-->
  <!--<h1 class="title">MI HORARIO</h1>-->

  <!--Datos del estudiante a mostrar. Esta contiene una lista ordenada
      en donde itera los datos para mostrarlos-->
  <div class="student-data">
    <!--Etiqueta UL (Lista Ordenada) : Ayudara a ordenar los datos a mostrar en el navegador
        Directiva ngFor : utilizada para crear un ciclo de tipo ForEach de typescript
        variable data : utilizada como apuntador para ir iterando la variable de objeto JSON dataStudent enviado desde el component.ts  -->
    <ul *ngFor="let data of dataStudent">
      <!--Etiquetas IL (Item de la lista) : Ayuda a mostrar un dato en concreto dentro de la lista
          Uso de interpolacion {{ }} : Mostrar los datos iterados que estan guardados en el dataSource de component.ts-->
      <li>Fecha: {{data.date}}</li>
      <li>Nombre del alumno: {{data.name}}</li>
      <li>Carrera: {{data.career}}</li>
      <li>Creditos a cursar: {{data.credits}}</li>
    </ul>
  </div>

  <!--Clase: table
      Descripcion: Elemento de tipo tabla que almacenara los datos del
      horario que posea el alumno, como son:
          Materia, hora y salon
      Dentro contiene subelementos como son otras tablas.
  -->

  ´
  <table id="schedule" class="table table-striped">
    <!--Encabezado de la tabla en donde muestra los dias de la semana-->
    <thead class="thead-dark">
    <tr>
      <th scope="col" class="headerMain">MATERIA</th>
      <th scope="col" class="headerMain">LUNES</th>
      <th scope="col" class="headerMain">MARTES</th>
      <th scope="col" class="headerMain">MIERCOLES</th>
      <th scope="col" class="headerMain">JUEVES</th>
      <th scope="col" class="headerMain">VIERNES</th>
    </tr>
    </thead>

    <!--Cuerpo de la tabla en donde contiene las subtablas-->
    <tbody class="table">
    <tr><!--Crea una fila y dentro contiene una tabla´para iterar
						nombres de las materias e ir generando filas-->
      <th>
        <table>
          <thead class="headerTable">
          <tr>
            <th>-</th>
          </tr>
          </thead>
          <tbody>
          <!--Elemento TR : Crea una fila nueva dentro de la subtabla
              Directiva ngFor : Ciclo de tipo ForEach para recorrer el array de objetos
              variable sub : Apuntador para iterar el array de objetos
              mySchedule : array de objetos (informacion)
              Interpolacion {{}} : Mostrar los datos provenientes de component.ts -->
          <tr class="subjects" *ngFor="let sub of mySchedule">{{sub.subject}}</tr>
          </tbody>
        </table>
      </th>
      <!--Crea una fila y dentro contiene una tabla´para iterar
          hora y salon asignado a cada materia y a su vez el dia en que se dara la clase respectivamente, generando filas en
          automatico.-->
      <th>
        <table>
          <!--Cabecera de la subtabla Hora y salon para un dia en especifico-->
          <thead class="headerTable">
          <tr>
            <th scope="col">Hora</th>
            <th scope="col">Salon</th>
          </tr>
          </thead>
          <tbody>
          <!--Crea una fila en la subtabla
              directiva ngFor: Recorrera la informacion deseada para esta posicion (Hora y salon(segun dia))
              variable sub : apuntador para iterar el array de objetos mySchedule-->
          <tr *ngFor="let sub of mySchedule">
            <!--Elemento TD : Genera una columna con su dato correspondiente mediante la interpolacion-->
            <td>{{sub.hour}}</td>
            <td>{{sub.salons.monday}}</td>
          </tr>
          </tbody>
        </table>
      </th>
      <th>
        <table>
          <thead class="headerTable">
          <tr>
            <th scope="col">Hora</th>
            <th scope="col">Salon</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let sub of mySchedule">
            <td>{{sub.hour}}</td>
            <td>{{sub.salons.tuesday}}</td>
          </tr>
          </tbody>
        </table>
      </th>
      <th>
        <table>
          <thead class="headerTable">
          <tr>
            <th scope="col">Hora</th>
            <th scope="col">Salon</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let sub of mySchedule">
            <td>{{sub.hour}}</td>
            <td>{{sub.salons.wednesday}}</td>
          </tr>
          </tbody>
        </table>
      </th>
      <th>
        <table>
          <thead class="headerTable">
          <tr>
            <th scope="col">Hora</th>
            <th scope="col">Salon</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let sub of mySchedule">
            <td>{{sub.hour}}</td>
            <td>{{sub.salons.thursday}}</td>
          </tr>
          </tbody>
        </table>
      </th>
      <th>
        <table>
          <thead class="headerTable">
          <tr>
            <th scope="col">Hora</th>
            <th scope="col">Salon</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let sub of mySchedule">
            <td>{{sub.hour}}</td>
            <td>{{sub.salons.friday}}</td>
          </tr>
          </tbody>
        </table>
      </th>
    </tr>
    </tbody>

  </table>
  <!--Etiqueta BUTTON : Crea un boton con la funcionalidad de imprimir-->
  <div class="fa-pull-right d-print-none">
    <button type="button" class="btn btn-primary btn-sm" (click)="onPrintSchedule()">Imprimir</button>
  </div>
</div>
