h1 {
	color:  red;
}

/*HEADER DE DIAS */
.week {
	background-color: #fff;
	width: 90%;
	height: 60px;
	display: flex;

	flex-wrap: wrap;
	justify-content: flex-end;	
}


.day {
	width: 170px;
	height: 60px;
	background-color: #fff;
	color:  black;
	border-left: 2px solid black;
	text-align: center;
}

/**/