/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body, .row.container-fluid {
  height: 100%;
  min-height: 100%;
}

router-outlet div .loader {
  display: block !important;
}

div.loader {
  display: inline-block;
}

button div.loader {
  width: 5px;
  height: 5px;
  border-width: 5px;
}

.loader {
  border: 16px solid #38dad4;
  border-radius: 50%;
  border-top: 16px solid #17A398;
  width: 120px;
  height: 120px;
}

.spin {
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.reverse-spin {
  -webkit-animation: reverse-spin 2s linear infinite;
  animation: reverse-spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes reverse-spin {
  100% {
    -webkit-transform: rotate(0deg);
  }
  0% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes reverse-spin {
  100% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(360deg);
  }
}

.sidebar {
  background-color: #f5f5f5 !important;
  border-right: 1px solid #e3e3e3;
}

.sidebar .menu-container {
  position: fixed;
}

.sidebar .menu {
  margin: 0 !important;
  padding: 0 !important;
}

.sidebar .menu-item {
  display: block;
}

.sidebar .menu-item:hover {
  background-color: #17A398;
}

.action {
  cursor: pointer;
}
